.description {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (max-width: 1152px) {
  .description {
    max-width: 928px;
  }
}

@media screen and (max-width: 928px) {
  .description {
    width: 100%;
  }
}
