.intro__text {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 700px) {
  .intro__text {
    margin-bottom: 34px;
  }
}