.question__container {
  max-width: 690px;
}

@media screen and (max-width: 928px) {
  .question__container {
    max-width: 720px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .question__container {
    margin: 0 16px;
  }
}
